################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/SomaDosPares/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.SomaDosPares.00
/FizzBuzz/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.FizzBuzz.00
/Desafio Última Ocorrência de Uma Letra/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.Desafio Última Ocorrência de Uma Letra.00
/DesafioVoidStatic/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.DesafioVoidStatic.00
/Biblioteca/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.Biblioteca.00
/exercicio-classesAbtratas-e-interface/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.exercicio-classesAbtratas-e-interface.00
/GerenciadorDeTarefas/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.GerenciadorDeTarefas.00
/GerenciadorDeTarefas/.vs/GerenciadorDeTarefas/FileContentIndex
/DesafiosGrok/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.DesafiosGrok.00
/DesafiosGrok/.vs/DesafiosGrok
