################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BubbleSortReverse/.vs/BubbleSortReverse
/BubbleSortReverse/BubbleSortReverse/obj/Debug/net8.0
/BubbleSortReverse/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.BubbleSortReverse.00/BuildScriptCache
/BubbleSortReverse/_ReSharper.Caches/ReSharperPlatformVs17242_da1abf74.BubbleSortReverse.00
